<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # If request is for a real file or folder, serve it
  RewriteCond %{REQUEST_FILENAME} -f [OR]
  RewriteCond %{REQUEST_FILENAME} -d
  RewriteRule ^ - [L]

  # Otherwise rewrite to index.html (SPA fallback)
  RewriteRule . /index.html [L]
</IfModule>
