@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-sans;
  background-color: #121429
}
 .recharts-surface:focus {
   outline: none !important;
 }

/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #6B7280;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #9CA3AF;
}
.overflow-x-auto {
  -webkit-overflow-scrolling: touch;
}